.loader {
  display: none;
  font-size: 24px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
}
.loader:after {
  content: '';
  height: 4px;
  width: 0%;
  display: block;
  background: #ff3d00;
  animation: 5s lineGrow linear infinite;
}

@keyframes lineGrow {
  to {
    width: 100%;
  }
}

.displayOn {
  display: inline-block;
}

.input {
  width: 272px;
  height: 40px;
  gap: 0px;
  border-radius: 4px;
  border: 1px solid #808080;
}

.input:hover {
  border: 1px solid #000;
}

.btn {
  width: 91px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  gap: 10px;
  border-radius: 8px;
  color: white;
  background-color: #4e75ff;
  border: 1px solid transparent;
}
.btn:hover {
  background-color: #6c8cff;
}
li {
  list-style: none;
}
.form {
  display: flex;
  justify-content: center;
  margin-top: 36px;
  gap: 8px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.item {
  border: 1px solid #808080;
  transition: transform 0.3s ease-in-out;
}
.item:hover {
  transform: translateY(-10px) scale(1.05);
}
.item img {
  width: 360px;
  height: 240px;
}
.descriptions {
  height: 48px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 25px;
}
.description {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.description .span {
  font-weight: 400;
  line-height: 24px;
}

.btnLoad {

  display: block;
  margin: 0 auto;
  width: 125px;
  height: 40px;
  margin-top: 32px;
}
 

.displayOff{
    display: none;

}